@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply text-lg;
}

img {
  width: 100%;
}

/* color */
.bg-primary {
  background: #0f172a;
}

.bg-secondery {
  background: #1e293b;
}

.bg-accent {
  background: #7477ff;
}

.text-accent {
  color: #333333;
  border-radius: 8px;
}

nav li a {
  @apply px-4 py-5 text-lg;
}

nav li a:hover {
  color: #7477ff;
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

/* hero */
/* h1 {
  font-family: "poppins", cursive;
  line-height: 1.5 !important;
} */

.day63 {
  background: #372d4e;
}
